/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Section */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  position: relative; /* Allows positioning of background image */
}

.login-section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  z-index: 1; /* Places content above the SVG background */
}

.login-section h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.uspass-instructions{
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  color: #808080;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-login {
  background-color: green;
  color: white;
}

.href-register {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color:  rgb(104, 202, 209);;
  color: white;
}

/* Background SVG */
main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('parachuting-background.svg') repeat center center;
  background-size: contain; /* Adjust as needed */
  opacity: 0.1; /* 10% transparency */
  z-index: 0; /* Places it behind content */
}

.error {
  color: red;
}