/* Navbar */
.navbar {
    background-color: rgb(104, 202, 209);
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar li {
    margin: 0 15px;
}

/*.navbar a {*/
/*    text-decoration: none;*/
/*    color: #000;*/
/*    font-weight: bold;*/
/*}*/

.username {
    text-decoration: none;
    color: #2a4c21;
    font-weight: bold;
}

.logout {
    text-decoration: none;
    color: #1449d5;
    font-weight: bold;
}