<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skydiving Jump Log</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/jump.css}">


</head>
<body>

<div th:replace="~{fragments/header :: headerFragment}"></div>
<div th:replace="~{fragments/navbar :: navbarFragment}"></div>

    <main>
        <section class="log-jump-section">
            <h1>Log Your Skydive Jump</h1>
            <form method="POST" th:object="${jumpInsertDTO}">

                <!-- DONE Jump Type -->
                <!-- DONE - Create Jumptype Service for the list -->

                <div class="form-row">
                    <label for="jump-type">Type of Jump</label>
                    <select id="jump-type" class="input-field" th:field="*{jumptypeId}">
                        <option value="" selected></option>
                        <option th:each="jumptype : ${allJumptypes}" th:value="${jumptype.id}" th:text="${jumptype.jumptypeName}"></option>
                    </select>
                    <div class="form-error" th:if="${#fields.hasErrors('jumptypeId')}">
                        <p th:errors="*{jumptypeId}">Invalid jump type</p>
                    </div>
                </div>

                <!-- DONE Dropzone Location -->
                <!-- DONE - Create Dropzone Service for the list -->

                <div class="form-row">
                    <label for="dropzone-location">Dropzone Location</label>
                    <select id="dropzone-location" class="input-field" th:field="*{dropzoneId}">
                        <option value="" selected></option>
                        <option th:each="dropzone : ${allDropzones}" th:value="${dropzone.id}" th:text="${dropzone.dropzoneName}"></option>
                    </select>
                    <div class="form-error" th:if="${#fields.hasErrors('dropzoneId')}">
                        <p th:errors="*{dropzoneId}">Invalid jump type</p>
                    </div>
                </div>

                <!-- DONE - Date of Jump -->
                <div class="form-row">
                    <label for="date-of-jump">Date of Jump</label>
                    <input type="date" id="date-of-jump" class="input-field" required th:field="*{jumpDate}"/>
                    <div class="form-error" th:if="${#fields.hasErrors('jumpDate')}">
                        <p th:errors="*{jumpDate}">Invalid jump type</p>
                    </div>
                </div>

                <!-- DONE - Exit Altitude -->
                <div class="form-row">
                    <label for="exit-altitude">Exit Altitude in feet</label>
                    <input type="number" id="exit-altitude" class="input-field" placeholder="Altitude" required th:field="*{altitude}" min="3000" max="15000"/>
                    <div class="form-error" th:if="${#fields.hasErrors('altitude')}">
                        <p th:errors="*{altitude}">Invalid jump type</p>
                    </div>
                </div>

                <!-- DONE - Freefall Duration -->
                <div class="form-row">
                  <label for="freefall-duration">Seconds of Freefall</label>
                  <input type="number" id="freefall-duration" class="input-field" placeholder="Freefall Duration" required th:field="*{freefallduration}" min="0" max="80"/>
                    <div class="form-error" th:if="${#fields.hasErrors('freefallduration')}">
                        <p th:errors="*{freefallduration}">Invalid jump type</p>
                    </div>
              </div>

                <!-- DONE Aircraft Type -->
                <!-- DONE - Create Aircraft Service for the list -->

                <div class="form-row">
                  <label for="aircraft">Aircraft Type</label>
                  <select id="aircraft" class="input-field" th:field="*{aircraftId}">
                      <option value="" selected></option>
                      <option th:each="aircraft : ${allAircraft}" th:value="${aircraft.id}" th:text="${aircraft.aircraftName}"></option>
                  </select>
                    <div class="form-error" th:if="${#fields.hasErrors('aircraftId')}">
                        <p th:errors="*{aircraftId}">Invalid jump type</p>
                    </div>
                </div>

                <!-- DONE - Notes about Jump -->
                <div class="form-row">
                    <label for="notes">Notes about your jump</label>
                    <textarea id="notes" class="input-field" placeholder="Notes" th:field="*{jumpNotes}" maxlength="299"></textarea>
                    <div class="form-error" th:if="${#fields.hasErrors('jumpNotes')}">
                        <p th:errors="*{jumpNotes}">Invalid jump type</p>
                    </div>
                </div>

                <!-- TODO Icon Container and Submit Button -->
                <div class="form-actions">
                    <div class="jump-icon">
                      <img th:src="@{/img/FormationSketchTransparent.png}" alt="Jump Icon" class="icon">
                        <!-- Icon will appear here after selection -->
                    </div>
                    <button type="submit" class="btn btn-submit">Save Jump</button>
                </div>
            </form>
        </section>
    </main>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>
