<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header class="main-header">
        <div class="header-content">
            <img src="images/logo.svg" alt="Logo" class="logo">
            <h1 class="title">Skydiving Logbook</h1>
        </div>
	<!-- <nav class="navbar">
	    <ul>
		<li><a href="#home">Home</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#services">Services</a></li>
		<li><a href="#contact">Contact</a></li>
	    </ul>
	</nav> -->
    </header>
    <main>
        <section class="login-section">
            <h1>Login</h1>
            <form>
                <input type="text" placeholder="Username" class="input-field" required>
                <input type="password" placeholder="Password" class="input-field" required>
                <!-- <input type="text" placeholder="First Name" class="input-field" required> -->
                <!-- <input type="text" placeholder="Last Name" class="input-field" required> -->
                <button type="submit" class="btn btn-login">Login</button>
                <button type="button" class="btn btn-register">Not a User? - Register here</button>
            </form>
        </section>
    </main>
	<footer>
	    <p>Web App Created By <a href="https://github.nikospavlopoulos.com" target="_blank">Nikos Pavlopoulos (Github)</a></p>
	</footer>
</body>
</html>
