<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">


</head>
<body>
    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <main>
        <section class="login-section">
            <h1>Login</h1>
            <form method="POST" th:object="${userInsertDTO}">

                <input type="text" th:field="*{username}" placeholder="Username"
                       class="input-field">
                <span class="uspass-instructions">Username must be between 3 and 10 characters long</span>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></div>

                <input type="password" th:field="*{password}" placeholder="Password" class="input-field">
                <span class="uspass-instructions">Password must be at least 8 characters long, include letters, numbers, and one special character</span>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>

                <!-- <input type="text" placeholder="First Name" class="input-field" required> -->
                <!-- <input type="text" placeholder="Last Name" class="input-field" required> -->

                <button type="submit" class="btn btn-login">Login</button>
            </form>
            <div>
                <a th:href="@{/register}" class="btn href-register">Not a User? - Register here</a>
            </div>
        </section>
    </main>

    <div th:if="${errorMessage}" class="error">
        <p th:text="${errorMessage}"></p>
    </div>
    <!-- This div displays an error message if the login attempt fails.
     It checks for the presence of an 'error' parameter in the request,
     and if present, it retrieves and shows the last security exception message
     from the session, providing feedback to the user about the failed login. -->
    <div th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>

    <div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>
