<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">

</head>
<body>
    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <main>
        <section class="login-section">
            <h1>Register</h1>
            <form method="POST" th:object="${userInsertDTO}" >

                <input type="text" th:field="*{username}" placeholder="Username" class="input-field" required>
                <span class="uspass-instructions">Username must be between 3 and 10 characters long</span>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></div>

                <input th:field="*{password}" type="password" placeholder="Password" class="input-field" required>
                <span class="uspass-instructions">Password must be at least 8 characters long, include letters, numbers, and one special character</span>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>

<!--                <input type="text" placeholder="First Name" class="input-field" required>-->
<!--                <input type="text" placeholder="Last Name" class="input-field" required>-->
                <!-- <button type="submit" class="btn btn-login">Login</button>  -->

                <button type="submit" class="btn btn-register">Register</button>
            </form>
        </section>
    </main>
    <div th:if="${errorMessage}" class="error">
        <p th:text="${errorMessage}"></p>
    </div>

    <div th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>

    <div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>
