<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skydiving Jump Log - Success</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/success.css}">


</head>
<body>

<div th:replace="~{fragments/header :: headerFragment}"></div>
<div th:replace="~{fragments/navbar :: navbarFragment}"></div>

    <main>
        <section class="success-section">
            <div class="success-message">
                <p>Your Jump with number - <strong th:text="${jump.id}"></strong> - has been successfully logged</p>
            </div>
            <div class="log-details">
                <div class="form-row">
                    <label>Type of Jump</label>
                    <p th:text="${jump.jumptype}"></p>
                </div>

                <div class="form-row">
                    <label>Dropzone Location</label>
                    <p th:text="${jump.dropzone}"></p>
                </div>

                <div class="form-row">
                    <label>Date of Jump</label>
                    <p th:text="${#dates.format(jump.jumpDate,'dd-MM-YYYY')}"></p>
                </div>

                <div class="form-row">
                    <label>Exit Altitude</label>
                    <p th:text="${jump.altitude}"></p>
                </div>

                <div class="form-row">
                    <label>Seconds of Freefall</label>
                    <p th:text="${jump.freefallduration}"></p>
                </div>

                <div class="form-row">
                    <label>Aircraft Type</label>
                    <p th:text="${jump.aircraft}"></p>
                </div>

                <div class="form-row">
                    <label>Notes about your jump</label>
                    <p th:text="${jump.jumpNotes}"></p>
                </div>

                <div class="return-message">
                    <a th:href="@{/}"> Return </a>
                </div>
            </div>
        </section>
    </main>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>
